.participantcontainer{
    margin-top: 40px;
}
.cbtn{
    margin-top: 0em;
}
.btnmodal{
    margin-bottom: 100px;
}
.page-footer{
    margin-top: 20px;
}
.participant-container{
    font-weight:bold;
    cursor:pointer;
    display:inline-block;
    border: 3px solid #C7B1E5;
    margin-top: 0.5em;
    background: #57B3F1;
    width: 70%;
    margin-left: 10%;
}
.icon-btn{
    float: right;
}
hr{
    border-top: 2px solid #ccc;
  }
.fa-1x{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #B2ACAC;
    padding: 0.5em 0.6em;
    margin-right: 0.2em;
    background-color: #D6CECE;
}
