.container{
    padding-top:1em;
}
.inner{
    padding-top:1em;
    padding-block-end: 2em;
}
.main{
    margin-top: 100px;
    background-color: #337E93;
    width: 50%;
}
.col {
    padding: .4em 1.3em;
    height: 50px;
    width: 50px;
}