

  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light grey lighten-3 scrolling-navbar">
      <logo>
          <img src="assets\images\votOnlogo1.png" height="50" class="d-inline-block align-top" alt="">
      </logo>
        <links class="flex-row-reverse">
          <ul class="navbar-nav">
              <li class="nav-item"> 
                  <a class="nav-link color" href="#"><i class="fa fa-user"></i><strong> Login / Register</strong></a>
               </li>
          </ul> 
        </links>  
      
  </mdb-navbar>
  