.container{
    padding-top:50px;
    
}
.captionText {
    font-weight:bold;
    padding:.5em;
    color: #FBF4F5;
}
.option-container {
    padding-inline-start:.5em;
    padding-inline-end: 3em;
    font-weight:bold;
    cursor:pointer;
    display:inline-block;
}
.img-thumbnail{
    height:100px;
    width:60%;
    display: block;
}