.option-container {
    font-weight:bold;
    cursor:pointer;
    display:inline-block;
    border: 3px solid #C7B1E5;
    background: #57B3F1;
    margin-top: 0.5em;
}
.col {
    padding: .4em 1.3em;
}
.color-light {
    background: #57B3F1;
}
.customWidthClass{
    flex: 0 0 75px;
 }
.container{
    padding-top:2em;
    padding-block-end: 3em;
}
.inner{
    padding-top:1em;
    padding-block-end: 2em;
}
.icon-btn{
    float: right;
}
.center {
    margin: auto;
    width: 50%;
    
    padding: 10px;
}