
    <div class="containermain">
        
            
            <div class="container text-center white-text" style="padding-top:100px">
                    <p class="h3 text-center mb-4">Easy Polls, Faster Decisions </p><br><br>
                    <div class="text-center">
                            <button type="submit" class="cbtn" (click)="poll()"><strong> Create a poll</strong></button>
                    </div>
            </div>
                
                
            <div class="container fixed-bottom">
                <div class="d-flex flex-row">
                
                    <div class="col" *ngFor="let image of images">
                        <figure class="figure">
                            <img src="assets\images\{{image.icon}}" class="img-thumbnail myimg" alt="...">
                            <figcaption class="figure-caption captionText">{{image.featureText}}</figcaption>
                        </figure>
                    </div>
                                
                </div>
            </div>
            
            
        
    </div>



