<form>
  

  <!-- Material input text -->
  <div class="md-form">
      <i class="fa fa-user prefix grey-text"></i>
      <input type="text" id="materialFormContactNameEx" class="form-control" placeholder="Your name">
      
  </div>

  <!-- Material input email -->
  <div class="md-form">
      <i class="fa fa-envelope prefix grey-text"></i>
      <input type="email" id="materialFormContactEmailEx" class="form-control" placeholder="Your email">
      
  </div>
  
  <!-- Material textarea message -->
  <div class="md-form">
      <i class="fa fa-mobile-phone prefix grey-text"></i>
      <input type="text" id="materialFormContactMessageEx" class="form-control" placeholder="111-111-1111">
      
  </div>

  <div class="text-center mt-4">
      <button class="cbtn" type="submit">Send<i class="fa fa-paper-plane-o ml-2"></i></button>
  </div>
</form>
